.container_food {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 3%;
  .food_block {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    border: 5px solid black;
    padding: 3px;
    margin: 5px;
    border-radius: 2%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    .container_image {
      img {
        width: 100%;
        height: auto;
      }
    }
    .container_text {
      font-size: 20px;

      height: 30%;
    }
    .min {
      height: 20%;
    }
    .option_size {
      .portion {
        ul {
          display: flex;
          justify-content: space-evenly;
          padding: 0;
          .active_size {
            border-bottom: 3px solid black;
            background: black;
            color: white;
          }
          .check {
            font-size: 20px;
          }
          li {
            list-style-type: none;
            margin: 2px;
            font-size: 18px;
            font-weight: bolder;
            background: white;
            color: black;
            padding: 2px 8px;
          }
          li:hover {
            cursor: pointer;
          }
        }
      }
    }
    .price_cart {
      display: flex;
      justify-content: space-around;
      font-weight: bold;
      font-size: 20px;

      //align-self: flex-end;

      button {
        color: white;
        background: black;
        font-size: 20px;
        border-radius: 20px;
        padding: 15px;
      }
    }
  }
}
