.header {
  display: flex;
  justify-content: space-between;

  border-bottom: 5px solid black;
  .link {
    width: 60%;
    display: flex;
    justify-content: space-between;

    color: black;

    .header_logo {
      width: 30%;
      img {
        margin-left: 5%;
        width: 100%;
        //height: 100%;
      }
    }
  }

  .header_tittle {
    font-weight: bold;
    align-self: center;
    h1,
    p {
      text-align: center;
    }
  }

  .container_cart {
    width: 30%;
    display: flex;
    flex-direction: column;

    float: right;
    .header_cart {
      margin-right: 10%;
      margin-top: 15%;
      font-size: 20px;
      align-self: flex-end;

      a {
        text-decoration: none;
        color: white;
        background: black;
        padding: 25px;
        border-radius: 30px;
        .cart_shopping {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      a:hover {
        color: black;
        background: white;
        border: 1px solid black;
      }
    }
    .item-media {
      align-self: flex-end;
      margin-right: 10%;
      span {
        padding: 10px;
        a {
          color: black;
          background: white;
          border: none;
          font-size: 40px;
        }
      }
    }
  }
}
