.cart {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  .cart_head {
    display: flex;
    justify-content: space-between;
    h1 {
      border-bottom: 2px solid black;
    }
    span {
      line-height: 90px;
      color: gray;
      font-size: 20px;
    }
    span:hover {
      cursor: pointer;
      color: black;
      font-weight: bold;
    }
  }
  .itemBlock {
    .itemCart {
      display: flex;
      align-items: center;
      border-bottom: 2px solid black;
      padding: 5px;
      img {
        width: 25%;
        border-radius: 5px;
        //border: 2px solid black;
      }
      .itemName {
        margin-left: 20px;
        width: 20%;
        h2 {
          margin: 0;
        }
        span {
          font-size: 20px;
          font-weight: bold;
          border-bottom: 2px solid black;
        }
      }
      .itemCount {
        flex-basis: 40%;
        text-align: center;
        button {
          font-size: 20px;
          border: none;
          background: white;
        }
        button:hover {
          cursor: pointer;
        }
        span {
          font-size: 30px;
          font-weight: bolder;
        }
      }

      .itemPrice {
        width: 15%;
        font-size: 30px;
        font-weight: bolder;
      }
      .remove_item {
        font-size: 30px;
      }
      .remove_item {
        cursor: pointer;
      }
    }
  }
  .info_product {
    display: flex;
    justify-content: space-between;
    span {
      font-size: 25px;
      font-weight: bolder;
    }
  }
  .cart_button {
    button {
      border-radius: 20px;
      font-size: 20px;
      padding: 10px;
    }
    button {
      cursor: pointer;
    }
    .button_return {
      float: left;
      background: black;
      color: white;
    }
    .button_return:hover {
      background: white;
      color: black;
    }

    .button_pay {
      float: right;
      background: white;
    }
    .button_pay:hover {
      background: black;
      color: white;
    }
  }
}
@media screen and (max-width: 426px) {
  body {
    .cart {
      width: 100%;
      .itemBlock {
        .itemCart {
          display: block;
          text-align: center;
          img {
            width: 70%;
          }
          .itemName {
            width: 100%;
            margin-left: 0;
          }
          .itemPrice {
            width: 100%;
          }
        }
      }
      .info_product {
        display: block;
        text-align: center;
      }
      .cart_button {
        text-align: center;
        .button_return {
          float: none;
        }
        .button_pay {
          float: none;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .cart {
    width: 90%;
  }
}
