@import "./components/header.scss";
@import "./components/menu.scss";
@import "./components/containerFood.scss";
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  body {
    .header {
      width: 100%;
      .link {
        width: 65%;
      }
    }
    .container_food {
      .food_block {
        width: 90%;
        .container_image {
          img {
            height: 150px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 426px) {
  body {
    width: fit-content;
    .header {
      display: block;
      .link {
        width: 100%;
      }
      .container_cart {
        margin-bottom: 5%;
        margin-top: 5%;
        width: 100%;
        flex-direction: row;
        float: none;
        justify-content: space-between;
        .header_cart {
          align-self: flex-start;
          margin-top: 5px;
          margin-right: 0;
          a {
            padding: 25px 40px;
          }
        }
      }
    }
    .menu {
      display: block;
      font-size: 25px;
      .search {
        text-align: center;
      }
    }
    .container_food {
      display: block;
      text-align: center;
      .food_block {
        margin-left: auto;
        margin-right: auto;
        .container_image {
          img {
            height: 200px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 685px) {
  body {
    width: fit-content;
    .header {
      display: block;
      .link {
        width: 100%;
      }
      .container_cart {
        margin-bottom: 5%;
        margin-top: 5%;
        width: 100%;
        flex-direction: row;
        float: none;
        justify-content: space-between;
        .header_cart {
          align-self: flex-start;
          margin-top: 5px;
          margin-right: 0;
          a {
            padding: 25px 40px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  body {
    .container_food {
      grid-template-columns: 1fr 1fr;
      .food_block {
        width: 70%;
        .container_image {
          img {
            height: 200px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1779px) {
  .container_cart {
    margin-top: 2%;
  }
  .container_food {
    .food_block {
      .container_image {
        img {
          height: 300px;
        }
      }
    }
  }
}
